@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");
body {
  font-family: monospace;
  color: #000000; }

header {
  text-align: center;
  margin: 2rem auto 6rem; }
  header h1 {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0.2rem;
    font-size: 2.5rem; }
  header h2 {
    margin-top: 0.2rem;
    font-size: 0.8rem; }

main {
  width: 90%;
  margin: 1rem auto; }
  main p::first-letter {
    font-size: 2em;
    vertical-align: middle;
    color: #990000; }
  main article {
    padding-bottom: 3rem; }
    main article h1 {
      text-align: center;
      border-bottom: solid 1.5px #990000;
      width: 60%;
      margin: 2rem auto 4rem;
      padding-bottom: 2rem;
      font-size: 2rem; }
      @media only screen and (max-width: 960px) {
        main article h1 {
          width: 80%;
          padding-bottom: 1.5rem;
          margin: 1rem auto 2rem; } }
  @media only screen and (max-width: 960px) and (max-width: 480px) {
    main article h1 {
      width: 100%;
      padding-bottom: 1rem;
      margin: 1rem auto 1rem; } }
    main article .objectiu {
      font-size: 1.2rem; }
      @media only screen and (max-width: 960px) {
        main article .objectiu {
          text-align: justify;
          word-wrap: break-word; } }

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }
  @media only screen and (max-width: 5000px) {
    section {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  @media only screen and (max-width: 5000px) and (max-width: 1366px) {
    section {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  @media only screen and (max-width: 5000px) and (max-width: 1366px) and (max-width: 960px) {
    section {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  @media only screen and (max-width: 5000px) and (max-width: 1366px) and (max-width: 960px) and (max-width: 480px) {
    section {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.esperem {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .esperem .vine {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 2rem; }
    .esperem .vine form input {
      border-radius: 6px;
      padding: 0.2rem 2rem;
      font-size: 1.2rem;
      text-align: center;
      border: 0.5px solid darkslategray; }
    @media only screen and (max-width: 480px) {
      .esperem .vine {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
        .esperem .vine form {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; }
          .esperem .vine form input {
            margin-top: 1rem; } }

.tasca {
  color: darkslategray;
  background-color: white;
  border: 0.5px solid darkgrey;
  padding: 1em 2.5em;
  margin-left: 3%;
  max-width: 30%;
  font-size: 1.2rem;
  -webkit-transition: background-color 0.5s, -webkit-transform 0.5s;
  transition: background-color 0.5s, -webkit-transform 0.5s;
  transition: background-color 0.5s, transform 0.5s;
  transition: background-color 0.5s, transform 0.5s, -webkit-transform 0.5s; }
  .tasca h2 {
    font-size: 1.4rem;
    text-align: center;
    border-bottom: solid 1px #990000; }
  .tasca:hover {
    background-color: palegoldenrod;
    -webkit-box-shadow: 0px 0px 8px 1px darkgrey;
    box-shadow: 0px 0px 8px 1px darkgrey;
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  @media only screen and (max-width: 960px) {
    .tasca {
      margin-top: 1.5rem;
      max-width: 66%; } }
  @media only screen and (max-width: 960px) and (max-width: 480px) {
    .tasca {
      margin-top: 1rem;
      max-width: 88%; } }

.boto {
  border: 0.5px solid #000100;
  border-radius: 6px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.4rem 2rem; }

.boto--llistaCorreu {
  background-color: green;
  color: white;
  font-size: 1.2rem;
  -webkit-transition: font-size 0.2s, -webkit-transform 0.5s;
  transition: font-size 0.2s, -webkit-transform 0.5s;
  transition: font-size 0.2s, transform 0.5s;
  transition: font-size 0.2s, transform 0.5s, -webkit-transform 0.5s;
  font-family: 'Luckiest Guy', sans-serif, cursive;
  cursor: pointer; }
  .boto--llistaCorreu:hover {
    -webkit-box-shadow: 0px 0px 4px 1px darkgrey;
    box-shadow: 0px 0px 4px 1px darkgrey;
    -webkit-transform: scale(1.05);
    transform: scale(1.05); }

.boto--slack {
  color: white;
  font-size: 1.2rem;
  background-color: green;
  margin-top: 1rem;
  text-align: center;
  -webkit-transition: font-size 0.2s, -webkit-transform 0.5s;
  transition: font-size 0.2s, -webkit-transform 0.5s;
  transition: font-size 0.2s, transform 0.5s;
  transition: font-size 0.2s, transform 0.5s, -webkit-transform 0.5s;
  font-family: 'Luckiest Guy', sans-serif, cursive; }
  .boto--slack:hover {
    -webkit-box-shadow: 0px 0px 8px 1px darkgrey;
    box-shadow: 0px 0px 8px 1px darkgrey;
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
